 body{
        background:#222;
        font-family:Arial;
        color:white;
        padding:30px;
    }
    #contact{
        width:80%;
        margin:auto;
        background:#333;
        padding:20px;
        border-radius:10px;
    }
   
    .contact-info{
        width:40%;
        float:left;
        line-height:1.7;
    }
    form{
        width:50%;
        float:right;
    }
    input,textarea{
        width:100%;
        margin-bottom:10px;
        padding:8px;
        border-radius:5px;
        border:none;
    }
    button{
        padding:10px;
        width:120px;
        border:none;
        background:white;
        cursor:pointer;
        border-radius:5px;
    }
    button:hover{
        background:#ddd;
    }
    img{
    width: 40%;
    height: 40%;
}
#contact:after{
content:"";
display:block;
clear:both;
}
nav a{
    text-decoration: none;
    color: rgb(180, 190, 209);
    display: inline-block;
    margin-top: 50px;
    margin-left: 10px;
    padding: 2px;
    font-size: 18px;
}