body{
    margin: auto;
    width: 1000px;
    background-color: rgba(165, 168, 168, 0.512)
}
header{
    background-image: url(background3.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 150px;
    border-radius: 10px;
}
 h1{
    color: rgb(107, 157, 215);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: wavy;
    text-transform: capitalize;
    text-align: center;
}
header a{
    text-decoration: none;
    color:  rgb(98, 139, 216);
    display: inline-block;
    margin-top: 50px;
    margin-left: 10px;
    padding: 5px;
    font-size: larger;
}
header a:hover{
    background-color: rgba(90, 90, 100, 0.637);
    
}

img{
    width: 600px;
    height: 300px;
    display: inline-block;
    margin-left: 200px;
}
span{
    color: blueviolet;
}
footer{
    background-image: url(background3.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    border-radius: 10px;

}
footer p{
    color:  rgb(135, 168, 230);
    text-align: center;
    font-size: 17px;
}
